@import "../settings/mixins";
@import "../settings/variables";

.toolbar {
    position: sticky;
    top: 80px;

    padding: 10px 0;

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}