// библиотеки
@import "~normalize.css";

// всякое
@import "./settings/mixins";
@import "./settings/variables";

// общие стили
body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.excel {
    position: relative;

    height: 100%;
    max-width: 100%;

    color: #888;
    font-size: .8rem;
}

.button {
    @include button(green);
}

// компоненты
@import "./partials/header";
@import "./partials/toolbar";
@import "./partials/formula";
@import "./partials/table";

